button{
    margin: 1px;
    width: 145px;
    height: 130px;
    background-color: rgb(255, 204, 111);
    border:1px solid rgb(255, 166, 0) ;
    color: white;
    font-size: 30px;
    transition: 0.5s ease;
    
}

button:hover{
    background-color: rgb(203, 150, 52);
    border:1px solid rgb(255, 166, 0) ;
    color: rgb(17, 17, 17);
    font-size: 40px;
    
}